.container{
    margin-top: 1.2rem;
    margin-bottom: 5rem;
}
.col-6{
    text-align: right;
}
.buy-btn{
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}
.card{
    border: none;
    box-shadow: 0px 0px 10px gray;
    border-radius: 15px;
}
.margin-bottom{
        margin: 4rem 0 2rem;
}
.center{
      text-align: center;
      margin-top: 6rem;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card img{
    padding: 13% 15%;
}
.orange{
    height: 10px;
    width: 100px;
    background-color: orange;
    color: orange;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.color-orange{
    color: orange;
}
.img-width{
    width: 80%;
}
.img-width:hover{
    transform: scale(0.9);
}
.last img{
    box-shadow: 3px 3px 15px gray;
    margin: 20px;
    padding: 30px;
    width: 105px;
    border-radius: 10px;
}
.last img:hover{
    transform: scale(1.1);
}

img{
    cursor: pointer;
    transition: 1s;
}
.card img:hover{
    transform: scale(1.3);
}